################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lampshade/.vs/Lampshade/FileContentIndex/0adb9a4f-5d83-4c4c-89c7-6344a4933e99.vsidx
/Lampshade/.vs/Lampshade/FileContentIndex/41674998-3262-478a-84c8-f4d4f77a0463.vsidx
/Lampshade/.vs/Lampshade/FileContentIndex/64a74c51-0e5e-4893-9184-f70b038e6f6a.vsidx
/Lampshade/.vs/Lampshade/FileContentIndex/f75fdd12-ff54-4376-9de5-88f5fb8cbcbf.vsidx
.vs/
**/bin/
**/obj/